{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a graduating Biology major and incoming MS1.</h3>
        <h6>I have been attempting to learn R and Python but looking at codes makes my head hurt. </h6>
        <h3>Here are some <a href="{{ .Site.BaseURL }}projects/"> projects</a> I worked on for class.</h3>
        <h4>I also love drawing so I will share some of my <a href="{{ .Site.BaseURL }}art1/"> older art </a> as well as <a href="{{ .Site.BaseURL }}art2/"> art</a> I did during quarantine.</h4>
        
        <h4>For more about my academic and profession achievements, check out my <a href="res.pdf" target="_blank">resume</a>.</h4> It's kind of boring though.
 
 <h3>Click on this <a href="{{ .Site.BaseURL }}link/"> link </a> for something cool.</h3>
 
        <h4>For more of my art here's a shameless plug <a href="http://instagram.com/{{ .Site.Params.Social.Instagram}}">@{{ .Site.Params.Social.Instagram}}</a> 
        If you actually want to contact me here's my <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h4>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
